<footer class="bg-dark-1">
  <style>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 10px;
}
.bg-dark-1{
  background-color: #FFFFFF;
  background-image: #FFFFFF;
 
}
 
</style>
  <section id="footer" class="py-5">
    <div class="container text-center">
      <a href="#" class="Tiktok"></a>
      <a href="#" class="Facebook"></a>
      <a href="#" class="Youtube"></a>
      <h6 class="m-0 mt-4 text-center text-white text-capitalize">Niveladas</h6>
      <img src="https://gba.gob.ar/imagenes/logo_gba_footer_blanco.svg" alt="..." height="100">
      <img src="images/aaaa.png" alt="..." height="100">
    </div>
  </section>
</footer>